.ttour-overlay{position:absolute;box-shadow:0 0 0 99999px rgba(0,0,0,.8),inset 0 0 2px 0 #000}.ttour-wrapper{position:relative;height:100%;width:100%}.ttour-shadow{position:absolute;top:0;left:0;right:0;bottom:0;height:100vh;width:100vw}.ttour-tip{position:absolute;background-color:#fff;border-radius:2px;font-family:sans-serif;min-width:250px;max-width:375px;box-shadow:0 0 5px 0 rgba(0,0,0,.8)}.ttour-tip.top{bottom:calc(100% + 10px);left:0}.ttour-tip.right{top:0;left:calc(100% + 10px)}.ttour-tip.bottom{top:calc(100% + 10px);left:0}.ttour-tip.left{right:calc(100% + 10px);top:0}.ttour-header{padding:15px 15px 10px 15px}.ttour-header h1{margin:0;font-size:1.3em}.ttour-body{font-weight:300;padding:10px 15px}.ttour-footer{padding:10px 15px;overflow:auto;position:relative}.ttour-bullets{position:absolute;top:50%;left:8px;transform:translateY(-50%)}.ttour-bullet{display:inline-block;border:3px solid #ccc;border-radius:50%;margin:2px}.ttour-bullet.active{border-color:#333}.ttour-footer button{cursor:pointer;float:right;border:none;padding:8px 16px;font-size:14px;transition:.3s ease-out}.ttour-footer button.prev{background-color:transparent;margin-right:5px}.ttour-footer button.prev:hover{background-color:#efefef;box-shadow:0 3px 3px 0 rgba(0,0,0,.14),0 1px 7px 0 rgba(0,0,0,.12),0 3px 1px -1px rgba(0,0,0,.2)}.ttour-footer button.next{border-radius: 23px; color: #fff;background-color: #e91e63 !important;border-color: #e91e63;box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);}.ttour-footer button.next:hover{box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);}.ttour-arrow{position:absolute;width:14px;height:14px;transform-origin:0 0;background-color:#fff;box-shadow:-2px 2px 2px 0 rgba(0,0,0,.3)}.ttour-tip.right .ttour-arrow{top:15px;left:0;transform:rotate(45deg)}.ttour-tip.bottom .ttour-arrow{top:0;left:35px;transform:rotate(135deg)}.ttour-tip.left .ttour-arrow{right:-14px;top:30px;transform:rotate(-136deg)}.ttour-tip.top .ttour-arrow{bottom:-14px;left:25px;transform:rotate(-45deg)}
.ttour-tip.bottom-left {
    right: calc(100% + 10px);
    bottom: 0;
}
.ttour-tip.bottom-left .ttour-arrow {
    right: -14px;
    bottom: 10px;
    transform: rotate(-136deg);
}

.ttour-tip.bottom-right {
    left: calc(100% + 10px);
    bottom: 0;
}
.ttour-tip.bottom-right .ttour-arrow {
    left: 0px;
    bottom: 20px;
    transform: rotate(45deg);
}
.ttour-tip.left-bottom {
    top: calc(100% + 20px);
    right: 0;
}
.ttour-tip.left-bottom .ttour-arrow {
    top: 0;
    right: 0;
    transform: rotate(135deg);
}
.ttour-overlay{
    box-shadow: none !important;
    z-index: 9999999999;
    pointer-events: none;
}
.ttour-shadow{
    z-index: 110;
}
.ttour-tip.right-bottom {
    top: calc(100% + 10px);
    right: 0;
}

.ttour-tip.right-bottom .ttour-arrow {
    top: 0;
    right: 0;
    transform: rotate(135deg);
}
.ttour-tip.top-right {
    bottom: calc(100% + 18px);
    right: 0;
}

.ttour-tip.top-right .ttour-arrow {
    bottom: -14px;
    right: 25px;
    transform: rotate(-45deg);
}
.ttour-tip.top-left {
    bottom: calc(100% + 18px);
    left: 0;
}

.ttour-tip.top-left .ttour-arrow {
    bottom: -14px;
    left: 25px;
    transform: rotate(-45deg);
}
.ttour-tip.top-mid {
    bottom: calc(100% + 16px);
    right: 0;
}
.ttour-tip.top-mid .ttour-arrow {
    bottom: -14px;
    left: 48%;
    transform: rotate(-45deg);
}
.ttour-tip.bottom-mid {
    top: calc(100% + 10px);
    left: -50%;
}
.ttour-tip.bottom-mid .ttour-arrow {
    top: 0;
    left: 50%;
    transform: rotate(135deg);
}
.ttour-tip.top-right {
    bottom: calc(100% + 18px);
    right: 0;
}
.ttour-tip.top-right .ttour-arrow {
    bottom: -14px;
    right: 25px;
    transform: rotate(-45deg);
}

    .ttour-tip {
        pointer-events: all;
    }
