/* Extracted from: merchant_home_07_internal_link__place_matches_view_39fec052dc194c31_2025-06-03T02-13-11-069Z.html */
/* Block index: 2 */
/* Extracted at: 2025-06-03T02:16:25.471Z */

body { line-height: 1.1; }
		body, button, input, select, textarea { font-family: 'Poppins', sans-serif; }
		html, body { background-size: contain; background-attachment: fixed; background-position: center; }
		body .footer.is-role, body .navbar.is-role, body .bg-search { background-color: #DC1A5B !important; }
		.is-borderless { border: 0px; }
		.section { padding: 3rem 1.5rem; overflow: hidden; }