/* Extracted from: merchant_home_03_click_button_not__disabled___1_2025-06-03T02-11-31-051Z.html */
/* Block index: 5 */
/* Extracted at: 2025-06-03T02:16:25.368Z */

.footer {
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 10;
			display: flex;
			width: 100vw;
			padding: 0px;
			height: 4px;
		}