/* Extracted from: merchant_home_02_after_scroll_2025-06-03T02-11-18-900Z.html */
/* Block index: 5 */
/* Extracted at: 2025-06-03T02:16:25.357Z */

.footer {
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 10;
			display: flex;
			width: 100vw;
			padding: 0px;
			height: 4px;
		}