/* Extracted from: merchant_home_05_internal_link__place_matches_view_38000e9aad777d56_2025-06-03T02-12-59-333Z.html */
/* Block index: 6 */
/* Extracted at: 2025-06-03T02:16:25.445Z */

.footer {
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 10;
			display: flex;
			width: 100vw;
			padding: 0px;
			height: 4px;
		}