/* Extracted from: merchant_home_06_internal_link__place_matches_view_5ec50c53a993c83a_2025-06-03T02-13-05-196Z.html */
/* Block index: 6 */
/* Extracted at: 2025-06-03T02:16:25.452Z */

.footer {
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 10;
			display: flex;
			width: 100vw;
			padding: 0px;
			height: 4px;
		}